<div class="row">
  <div class="col-lg-3 mt-3" *ngFor="let product of products; index as i">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ product.product_name }}</mat-card-title>
        <mat-card-subtitle
          ><span class="blink-text">Cars</span></mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="{{ product.product_img }}"
        alt=""
        class="img-fluid"
      />
      <mat-card-content>
        <p>
          {{ product.product_price | currency : "EUR" : "€" }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          class="me-2"
          [routerLink]="['/product-details/', product.product_id]"
        >
          Details
        </button>
        <button mat-raised-button color="accent" (click)="addToCart(product)">
          Add To Cart
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
