<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img class="logo" src="assets/flaming-c.jpg" alt="Logo" width="40" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="collapseNav"
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
        <li class="nav-item">
          <a class="nav-link lora-font" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lora-font" [routerLink]="['/product-list']"
            >Products</a
          >
        </li>
      </ul>
      <div>
        <button class="btn btn-lg btn-outline-dark" (click)="openTheDiolog()">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>{{ this.cartService.cartCount }}</span>
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
